<header id="header">
	<div class="logo">
		<a routerLink=""><img src="../../assets/logo-h.png" ></a>
	</div>
	<div class="nav autheticated-nav" *ngIf="AfterLogin">
		<form class="form-inline">
		  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
		    <div class="input-group-addon"><i class="fa fa-search"></i></div>
		    <input type="text" class="form-control"  placeholder="What are you looking for?">
		  </div>
		  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
		    <div class="input-group-addon"><i class="fa fa-map-marker"></i></div>
		    <input type="text" class="form-control"  placeholder="Enter city or zip code">
		  </div>
		  <input type="submit" class="btn btn-primary" value="Find Providers">
		</form>
		<ul>
			<!-- <li><a href="javascript:void(0)">Hi admin! </a></li>
			<li><a href="javascript:void(0)">My Account</a></li>
			<li><a href="javascript:void(0)">Sign Out</a></li> -->

			<li><a href="#" data-toggle="modal" data-target="#login">Login</a></li>
			<li><a href="#" data-toggle="modal" data-target="#signup">Sign Up</a></li>
		</ul>

	</div>
	<div class="nav" *ngIf="BoforeLogin">
		<ul>
			<li><a href="#" data-toggle="modal" data-target="#login">Login</a></li>
			<li><a href="#" data-toggle="modal" data-target="#signup">Sign Up</a></li>
		</ul>

	</div>
	
</header>

