<div class="container">
	<form>
		<div class="row form-group">
			<div class="col-sm-10">
				<input type="text" class="form-control" placeholder="Enter you text here...">
			</div>
			<div class="col-sm-2">
				<input type="submit" class="btn btn-primary text-center btn-block" value="Search">
			</div>
		</div>
	</form>
	<div class="nav-pg">
		<div class="col-sm-8">
			<label>Showing 1 - 5 of 105 results for Air Condioner repair</label>
		</div>
		<div class="col-sm-4 text-right">
			<a><i class="fa fa-angle-left"></i></a>
			<a><i class="fa fa-angle-right"></i></a>
		</div>
	</div>
	<div class="S-result">
		<figure class="">
			<img src="../../assets/user.jpg">
		</figure>
		<div class="cont ">
			<h3>Ace Heating and Air Condition</h3>
			<div class="rating">
				<span>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star-o"></i>
				</span>
				<strong>4 votes</strong>
				<ul>
					<li><i class="fa fa-send"> </i>Oaklan and Surorunding Areas</li>
					<li><i class="fa fa-phone"></i> (415) 571-7775</li>
					<li>Total Customar's : 80</li>
					<li>Job Done this week : 10</li>
					<li>Job Done this month : 100</li>
				</ul>
			</div>
		</div>
		<aside class="">
			<a class="btn btn-primary btn-block">Contact Provider</a>
			<a class="btn btn-info btn-block">View Details</a>
		</aside>
	</div>
	<div class="S-result">
		<figure class="">
			<img src="../../assets/user.jpg">
		</figure>
		<div class="cont ">
			<h3>Ace Heating and Air Condition</h3>
			<div class="rating">
				<span>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star-o"></i>
				</span>
				<strong>4 votes</strong>
				<ul>
					<li><i class="fa fa-send"> </i>Oaklan and Surorunding Areas</li>
					<li><i class="fa fa-phone"></i> (415) 571-7775</li>
					<li>Total Customar's : 80</li>
					<li>Job Done this week : 10</li>
					<li>Job Done this month : 100</li>
				</ul>
			</div>
		</div>
		<aside class="">
			<a class="btn btn-primary btn-block">Contact Provider</a>
			<a class="btn btn-info btn-block">View Details</a>
		</aside>
	</div>
	<div class="S-result">
		<figure class="">
			<img src="../../assets/user.jpg">
		</figure>
		<div class="cont ">
			<h3>Ace Heating and Air Condition</h3>
			<div class="rating">
				<span>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star-o"></i>
				</span>
				<strong>4 votes</strong>
				<ul>
					<li><i class="fa fa-send"> </i>Oaklan and Surorunding Areas</li>
					<li><i class="fa fa-phone"></i> (415) 571-7775</li>
					<li>Total Customar's : 80</li>
					<li>Job Done this week : 10</li>
					<li>Job Done this month : 100</li>
				</ul>
			</div>
		</div>
		<aside class="">
			<a class="btn btn-primary btn-block">Contact Provider</a>
			<a class="btn btn-info btn-block">View Details</a>
		</aside>
	</div>
	<div class="S-result">
		<figure class="">
			<img src="../../assets/user.jpg">
		</figure>
		<div class="cont ">
			<h3>Ace Heating and Air Condition</h3>
			<div class="rating">
				<span>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star-o"></i>
				</span>
				<strong>4 votes</strong>
				<ul>
					<li><i class="fa fa-send"> </i>Oaklan and Surorunding Areas</li>
					<li><i class="fa fa-phone"></i> (415) 571-7775</li>
					<li>Total Customar's : 80</li>
					<li>Job Done this week : 10</li>
					<li>Job Done this month : 100</li>
				</ul>
			</div>
		</div>
		<aside class="">
			<a class="btn btn-primary btn-block">Contact Provider</a>
			<a class="btn btn-info btn-block">View Details</a>
		</aside>
	</div>
	<div class="S-result">
		<figure class="">
			<img src="../../assets/user.jpg">
		</figure>
		<div class="cont ">
			<h3>Ace Heating and Air Condition</h3>
			<div class="rating">
				<span>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star-o"></i>
				</span>
				<strong>4 votes</strong>
				<ul>
					<li><i class="fa fa-send"> </i>Oaklan and Surorunding Areas</li>
					<li><i class="fa fa-phone"></i> (415) 571-7775</li>
					<li>Total Customar's : 80</li>
					<li>Job Done this week : 10</li>
					<li>Job Done this month : 100</li>
				</ul>
			</div>
		</div>
		<aside class="">
			<a class="btn btn-primary btn-block">Contact Provider</a>
			<a class="btn btn-info btn-block">View Details</a>
		</aside>
	</div>
</div>