<div class="container text-center">
	<div class="home_cont">
		<a routerLink=''><img src="../../assets/logo.png"></a>
		<h2 class="ttl">Find Reputed Service Providers</h2>
		<form class="form-inline">
		  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
		    <div class="input-group-addon"><i class="fa fa-search"></i></div>
		    <input type="text" class="form-control"  placeholder="What are you looking for?">
		  </div>
		  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
		    <div class="input-group-addon"><i class="fa fa-map-marker"></i></div>
		    <input type="text" class="form-control"  placeholder="Enter city or zip code">
		  </div>
		  <input type="submit" class="btn btn-primary" value="Find Providers">
		</form>
	</div>
</div>